.page-footer {
    background-color: #2F303A;
   
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {

    display: flex;
@extend %container;
}
.container-address {
    margin-right: 70px;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    color:$primary-white-color;

    &:hover {
    text-decoration: underline;
    text-decoration-color: $primary-blue-color;
    }

}

.footer-logo span {
    color:$primary-blue-color;
}



.footer-list {
    @extend %list;
    padding: 0px;
   
   
    &:not(:last-child) {
    margin-bottom: 9px;
    }
}



.footer-address__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    &:hover {
    text-decoration: underline;
    text-decoration-color:$primary-blue-color;
    color:$primary-white-color;}
    
  
}




.address-container {
    margin-top: 20px;
}

.footer-form {
    margin-left: 93px;
    padding-top: 12px;
    padding: 0px;

}

.footer-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-form {
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer-form__field {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color:$primary-white-color;
}

.footer-form__input {
    margin-right: 12px;
    padding: 15px 15px;
    width: 358px;
    border: 1px solid $primary-text-color;
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 0);
    color:$primary-white-color;

    &:hover{
    border: 1px solid $primary-blue-color;
    }


}

.footer-form__button {

    display: flex;

    align-items: center;

    padding: 10px 29px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    color: $primary-white-color;
    background-color:$primary-blue-color;

    position: relative;
    top: -50px;
    left: 400px;

}
.footer-networks__link {

    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #FFFFFF;

}

.footer-networks__item:not(:last-child) {
    margin-right: 10px;
}


.footer-networks__link:hover .social-networks__icon {
    fill: #FFFFFF;
}

.footer-networks .footer-networks__link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-networks__link:hover {
    background-color: #2196F3;
}


.footer-networks__title {
    color: #FFFFFF;
    font-family: 'Roboto';
    text-transform: uppercase;

    margin-bottom: 20px;
    margin-top: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

    &:hover {
    text-decoration: underline;
    text-decoration-color: #2196F3;
    cursor: pointer;
        }


}

.footer-networks__list {
    list-style: none;
    padding: 0px;
    display: flex;
}

.footer-svg {
    width: 44px;
    height: 44px;

    border-radius: 50%;

    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);

        &:not(:last-child) {
            margin-right: 10px;}
}


.icon-footer{
    &:hover {
    background-color: #2196F3;
    border-radius: 50%;
    }
}
.footer-form__label {
    display: flex;
    flex-direction: column;
}
