.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;

}

.hero-section {
    border: 5px;
  
}

.hero-section__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    margin-top: 200px;
    margin-bottom: 30px;
    width: 696px;
    height: 120px;
    text-align: center;
    color:$primary-white-color;

  


}

.hero-section__button {
    font-family: 'Roboto';
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    padding: 10px 32px;
    cursor: pointer;
    color:$primary-white-color;
    background: $primary-blue-color;
    border-radius: 4px;
    text-align: center;
    border: 4px solid $primary-blue-color;

}

.button {
    padding-top: 380px;
    padding-right: 692px;
    padding-bottom: 210px;
    padding-left: 692px;
}


.buttons-section__button--primary {
    background-color:$primary-blue-color;
    color:$primary-white-color;
}
.overlay {
    max-width: 1600px;
    height: 600px;
    outline: 1px solid #2196F3;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/111.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}